.no-csstransitions .bg21 { /*filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);*/ position: absolute; width: 631px; height: 635px; margin-left: -608px; margin-bottom: 40px; background: url(../images/redshape.png) 0 0 no-repeat; /*opacity: 0;*/ margin-left: -1108px; right: -800px;}
.no-csstransitions .bg22 { filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0); position: absolute; left: 50%; bottom: 15%; width: 819px; height: 299px; margin-left: -280px; margin-bottom: 70px; background: url(../images/1/leaf-right.png) right 0 no-repeat; transition: all 1s; opacity: 0; margin-left: 320px;}
.no-csstransitions .bg23 {  position: absolute;  left: 50%; bottom: 15%; width: 819px; height: 325px; margin-left: -409px; background: url(../images/1/flag4.png) 50% 0 no-repeat; bottom: -40%; }
.no-csstransitions .bg31 {/* filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);*/ position: absolute; left: 50%; top: 10%; width: 575px; height: 199px; margin-left: -396px; margin-bottom: 80px; background-image: url(../images/1/flag5.png); opacity: 0;  z-index: 99;}
.no-csstransitions .bg32 {/* filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0); */position: absolute; /* left: 50%; */ /* bottom: 0; */ width: 630px; height: 630px; /* margin-left: -396px; */ background: url(../images/1/flag6.png) 50% bottom no-repeat; opacity: 0; left: -800px;}
.no-csstransitions .bg41 ,.no-csstransitions .bg3-31{
    bottom:0%;
    position: absolute;
    left: 0;  top: 0;  width: 50%;  height: 100%;
    opacity: 1;
    margin-top: 2000px;
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
}
.no-csstransitions .bg42 ,.no-csstransitions .bg3-32 {
    bottom: 200%;
    position: absolute;
    right: 0;  top: 0;  width: 50%;  height: 100%;
    opacity: 0;
    margin-top: -300px;
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
}
.no-csstransitions .bg41 img ,.no-csstransitions .bg42 img{width: 100% ;height: 100%}
.no-csstransitions .bg43 { position: absolute; bottom: -449px; width: 100%; height: 449px; margin-bottom: -130px; background: url(../images/1/flag7.png) 50% 0 no-repeat; }
.no-csstransitions .bg44 { position: absolute; bottom: -449px; width: 631px; height: 635px; margin-bottom: -130px; background: url(../images/redshape.png) 50% 0 no-repeat; right: -900px;}
.no-csstransitions .bg51 { filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0); background: url(../images/1/flag8.png) 50% 0 no-repeat; opacity: 0; }
.no-csstransitions .bg52 { filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0); margin-left: -403px; background: url(../images/bg52.png) 50% 0 no-repeat; opacity: 0; transition: all 1s;}
.no-csstransitions .bg53 { filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0); margin-left: 195px; background: url(../images/bg53.png) 50% 0 no-repeat; opacity: 0; transition: all 1s;}
.no-csstransitions .bg54 { filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0); margin-left: 645px; background: url(../images/bg54.png) 50% 0 no-repeat; opacity: 0; transition: all 1s;}

.no-csstransitions .bg61 { filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100); position: absolute; top: 0px; width: 100%; height: 100%; /* background: url(../images/1/slide6_1.jpg) 50% 0 no-repeat; */ opacity: 1; margin-top: 0%; border-top: 8px solid #fff;}
.no-csstransitions .bg61 img{width: 100%;height: 100%}
.no-csstransitions .bg62 { position: absolute; left: -30%; top: 40%; width: 832px; height: 168px; margin-left: -507px;z-index: 99; background-image: url(../images/1/flag9.png); }
.no-csstransitions .txt6 { filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0); position: absolute; left: 90%; bottom: 20%; width: 447px; margin-left: 90px; opacity: 0; transition: all 1s;}

.no-csstransitions .bg71 { position: absolute; width: 633px; height: 630px; /* margin-left: -608px; */ margin-bottom: 40px; background: url(../images/redshape_left.png) 0 0 no-repeat; transition: all 1s;  opacity: 0; /* margin-left: -1108px; */ left: -800px;}
.no-csstransitions .bg72 {/* filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);*/ position: absolute; left: 50%; bottom: -206px; width: 607px; height: 217px; /* margin-left: -170px; */ background: url(../images/1/flag7_1.png) 50% 0 no-repeat; opacity: 0; transition: all 1s; left: 2000px;}

.no-csstransitions .txt7 { filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0); position: absolute; left: 50%; bottom: -150px; width: 420px; margin-left: 100px; opacity: 0; transition: all 1s;}

.no-csstransitions .bg82 { filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0); position: absolute; /* left: 50%; */ bottom: 160px; width: 286px; height: 191px; background-image: url(../images/1/flag8_1.png); opacity: 0; transition: all 1s; right: 2000px;}
.no-csstransitions .bg83 { filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0); position: absolute; left: 50%; bottom: 280px; width: 70px; height: 29px; margin-left: -330px; background-image: url(../images/bg83.png); opacity: 0; transition: all 1s;}
.no-csstransitions .bg84 { filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0); position: absolute; left: 50%; bottom: 320px; width: 43px; height: 26px; margin-left: -410px; background-image: url(../images/bg84.png); opacity: 0; transition: all 1s;}
.no-csstransitions .p8 { filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0); position: absolute; left: 50%; top: 15%; width: 565px; margin-left: -282px; margin-top: 130px; font-size: 16px; color: #727F8C; opacity: 0; transition: all 1s;}

/*.bg91, .bg92, .bg93 { padding-top: 350px; font-size: 16px; color: #fff;}*/
.no-csstransitions .bg91 { filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0); position: absolute; left: 50%; bottom: 15%; width: 340px; margin-left: -970px; background: url(../images/bg91.png) 0 0 no-repeat; opacity: 0; transition: all 1s;}
/*.bg91 p { position: relative; left: 20px; margin-left: 40px; border-right: 1px solid #13AB86;}*/
.no-csstransitions .bg92 { filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0); position: absolute; left: 50%; bottom: 15%; width: 340px; margin-left: -180px; background: url(../images/bg92.png) 50% 0 no-repeat; opacity: 0; transition: all 1s;}
/*.bg92 p { position: relative; left: 40px; margin-left: 30px;}*/
.no-csstransitions .bg93 { filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0); position: absolute; left: 50%; bottom: 15%; width: 340px; margin-left: 630px; background: url(../images/bg93.png) 50% 0 no-repeat; opacity: 0; transition: all 1s;}

.no-csstransitions .bg102 { filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0); position: absolute; width: 100%; top: 25%; height: 79px; background: url(../images/bg102.png) 50% 0 no-repeat; opacity: 0; -webkit-transform:scale(0.5, 0.5); transform:scale(0.5, 0.5); transition: all 1s;}
.no-csstransitions .bg103 { filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0); position: absolute; width: 100%; top: 25%; height: 37px; margin-top: 110px; background: url(../images/bg103.png) 50% 0 no-repeat; opacity: 0; -webkit-transform:scale(0.5, 0.5); transform:scale(0.5, 0.5); transition: all 1s;}
.no-csstransitions .go { filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0); position: absolute; left: 50%; top: 55%; width: 254px; height: 70px; margin-top: 220px; margin-left: -127px; text-indent: -9999px; background-image: url(../images/btn.png); opacity: 0; transition: all 1s;}
.no-csstransitions body .section  .bg2-31_1{ filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100); opacity: 1;transition-duration: 2s;  transition-delay: 0.7s;}

.no-csstransitions .bg3-11 {  position: absolute;   width: 594px;   height: 691px;   background: url(../images/3/flag1_1.png) 50% 20% no-repeat;   bottom: 0px;  left: -2000px; }
.no-csstransitions .bg3-12 {  position: absolute;   width: 286px;   height: 255px;   background: url(../images/3/flag1_2.png) 50% 20% no-repeat;   top: 122px;  left: 2000px;}

 .no-csstransitions .bg3-13 { /*XImageTransform.Microsoft.Alpha(opacity=0); */position: absolute;   width: 283px;   height: 477px;   background: url(../images/3/flag1_3.png) 50% 20% no-repeat;   top: 0px;  left: 600px;  /*opacity: 0;*/}
/*.no-csstransitions .bg3-14 { filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100); position: absolute;   width: 830px;   height: 425px;   background: url(../images/3/flag1_4.png) 50% 20% no-repeat;   top: 200px;  left: 500px; opacity: 1;}*/

.no-csstransitions .bg3-21 { filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);  position: absolute;   width: 539px;   height: 288px;   background: url(../images/3/flag2_1.png) 50% 20% no-repeat;   top: 200px;  right: 2000px;  opacity: 1;}
.no-csstransitions .bg3-33 { position: absolute;   width: 283px;   height: 336px;   background: url(../images/3/flag3_1.png) 50% 20% no-repeat;   top: 20%;  left: 2000px; }
.no-csstransitions .bg3-31 img ,.no-csstransitions .bg3-32 img{width: 100% ;height: 100%}


.no-csstransitions .bg3-41 { filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100); position: absolute;   width: 283px;   height: 336px;   background: url(../images/3/flag4_1.png) 50% 20% no-repeat;   top: 100px;  left: 2000px; transition: all 1s;  opacity: 1;  z-index: 99;}
.no-csstransitions .bg4-1 { filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100); position: absolute;   width: 283px;   height: 336px;   background: url(../images/4/flag1_1.png) 50% 20% no-repeat;   top: 2000px;  right: 100px; opacity: 1;  z-index: 99;}
.no-csstransitions .bg4-21   { filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100); position: absolute;   width: 528px;   height: 172px;   background: url(../images/4/flag2_1.png) 50% 20% no-repeat;   top: 100px;  left: 2000px; transition: all 1s;  opacity: 1;  z-index: 99;}
.no-csstransitions .bg4-31{ filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100); position: absolute;   width: 100%;   height: 100%;   background: url(../images/4/flag3_1.png)  no-repeat;   background-size: contain;  top: 0;  left: 0px; transition: all 1s;  opacity: 1;  z-index: 99;}
.no-csstransitions .bg4-32{ filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100); position: absolute;   width: 673px;   height: 189px;   background: url(../images/4/flag3_2.png)  no-repeat;   background-size: contain;  top: 0;  right: 2000px; transition: all 1s;  opacity: 1;  z-index: 99;}
.no-csstransitions .bg4-41{ filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100); position: absolute;   width: 837px;   height: 439px;   background: url(../images/4/flag4_1.png)  no-repeat;   background-size: contain; transition: all 1s;  opacity: 1;  z-index: 99;  top: 400px;  right: 450px;}
.no-csstransitions .bg4-42{ filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100); position: absolute;   width: 649px;   height: 334px;   background: url(../images/4/flag4_2.png)  no-repeat;  transition: all 1s;  opacity: 1;  z-index: 99;  top: 400px;  right: 450px;}
.no-csstransitions .bg4-51 { filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100); position: absolute;   width: 495px;   height: 275px;   background: url(../images/4/flag5_1.png) 50% 20% no-repeat;   top: 200px;  right: 2000px; transition: all 1s;  opacity: 1;  z-index: 99;}
.no-csstransitions .bg4-61 { filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100); position: absolute;   width: 604px;   height: 291px;   background: url(../images/4/flag6_1.png) 50% 20% no-repeat;   top: 200px;  left: 2000px; transition: all 1s;  opacity: 1;  z-index: 99;}

/* CSS3过度及动画 */
.no-csstransitions .bg111 { position: absolute;  width: 293px;  height: 156px;  background: url(../images/1/flag11_1.png) 50% 20% no-repeat;  top: 120px; right: 2000px;
}
.no-csstransitions .active .bg21 {/*filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);*/}
.no-csstransitions .active .bg23 {}
.no-csstransitions .active .bg22 { margin-left: -280px; opacity: 1; transition-delay: 0.7s;}

.no-csstransitions .active .bg31 {}
.no-csstransitions .active .bg32 {}
.no-csstransitions .active .bg33 { margin-left: -120px; opacity: 1; transition-delay: 0.7s;}

.no-csstransitions .active .bg41 { }
.no-csstransitions .active .bg42 { }
.no-csstransitions .active .bg3-31 {}
.no-csstransitions .active .bg3-32 {}
.no-csstransitions .active .bg43 { }
.no-csstransitions .active .bg44 { }
.no-csstransitions .active .bg51 { }
.no-csstransitions .active .bg52 { margin-left: -253px; opacity: 1; transition-delay: 0.7s;}
.no-csstransitions .active .bg53 { margin-left: 45px; opacity: 1; transition-delay: 0.7s;}


.no-csstransitions .active .bg61 {}
.no-csstransitions .active .bg62 {}
.no-csstransitions .active .txt6 { left: 50%; opacity: 1; transition-delay: 0.7s;}

.no-csstransitions .active .bg71 {}
.no-csstransitions body .active .bg2-31{/*opacity: 0.5;transition-delay: 0.7s;  transition-duration: 3s;*/}
.no-csstransitions body .active .bg2-31_1{/*opacity: 0.5;transition-duration: 2s;transition-delay: 0.7s;*/}
.no-csstransitions .active .bg3-11 {}
.no-csstransitions .active .bg3-12 {}
.no-csstransitions .active .bg3-13 {}
.no-csstransitions .active .bg3-21 {}
.no-csstransitions .active .bg3-33 {}
.no-csstransitions .active .bg3-41 {}
.no-csstransitions .active .bg3-11 {}
.no-csstransitions .active .bg111{ }

